<header class="bg-green-800 text-white shadow-lg fixed top-0 left-0 w-full z-50">
  <div class="container mx-auto flex justify-between items-center p-4">
    <h1 class="text-xl font-bold"><a href="/dashboard">Entrada e Saída - 1°BIS(AMV)</a></h1>
    <span class="text-sm">Bem-vindo, <%= user.username %>!</span>
  </div>
</header>
<div class="h-16"></div>